
body {
    background: black;
    font-family: sans-serif;
    height:100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    color: white;
}

div#page-container {
    align-items: center;
    background-image: url("../images/tumblr_squareFlower.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    position: absolute;
    width: 100%;
}

div#social-media-container {
    width: 100%;
    
    img {
        margin: 0 15px;
        box-sizing: border-box;
    }

    a {
        box-sizing: border-box;
        border: 3px solid transparent;
    }

    a:hover {
        border-radius: 100%;
        border: 3px solid black;
    }
}
@media screen and (max-width: 850px) {
    div#social-media-container img {
        width: 10vw;
        height: 10vw;
    }
}
@media screen and (min-width: 850px) {
    div#social-media-container img {
        width: 5vw;
        height: 5vw;
    }
}

div#webpage-project-container,
div#threeD-project-container {
    align-items: center;
    display: flex;
    width: 100%;

    a {
        text-decoration: none;
        color: inherit;
    }
    
    p {
        font-family: Comfortaa;
    }
    
    span {
        font-weight: bold;
        font-family: Capriola;
    }
    
    
    img {
        max-width: 100%;
        max-height: 50vh;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 850px) {
    div#webpage-project-container,
    div#threeD-project-container {
        flex-direction: column;
    }
}
@media screen and (min-width: 850px) {
    div#webpage-project-container,
    div#threeD-project-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

img.arrow {
    height: 144px;
    width: 144px;

    &:first-child {
        margin-top: 5vw;
    }

    &:last-child {
        margin-bottom: 5vw;
    }
}

div.panel {
    background: rgba(0,0,0,0.8);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
}
@media screen and (max-width: 850px) {
    div.panel {
        width: 90%;
        margin: 5vw;
    }
}
@media screen and (min-width: 850px) {

    div.panel {
        width: 30%;
        max-width: 500px;
        margin: 15px 1.5%;
    }
}

div.panel:not(#panel1) {
    // display: none;
}

div#panel1 {
    background-color: white;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 20vh;
    text-align: center; 
    min-height: 20em;
    // animation-name: toCenter;
    // animation-duration: 2s
}



#panel1 {
    color: white;

    h1, h2, h3 {
        margin: 0;
        padding-bottom: 1em;
    }
    
    h1 {
        font-family: Capriola;
        text-shadow: 2px 2px blue;
    }

    h2 {
        font-family: Comfortaa;
    }

    h3 {
        font-family: Megrim;
        font-weight: bold
    }
}

.full-width {
    width: 100vw;
    text-align: center;
}

.bold_link {
    font-weight: bold;

    &:hover {
        text-shadow: 0 0 5px white;
    }
}


// Current panel should glow

// TODO: Animations
// to top, to center, to bottom
// Use JS to assign class and then let CSS handle transforms

// @keyframes toCenter {
//     from { 
//         position: absolute;
//         top:0;
//         left: 50%;
//     }

//     to {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
// }

