
body {
    background: black;
    font-family: sans-serif;
    height:100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    color: white;
}

div#page-container {
    align-items: center;
    background-image: url("../images/tumblr_squareFlower.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    position: absolute;
    width: 100%;
}

div#social-media-container {
    img {
        width: 5vw;
        height: 5vw;
        margin: 0 15px;
        box-sizing: border-box;
    }

    a {
        box-sizing: border-box;
        border: 3px solid transparent;
    }

    a:hover {
        border-radius: 100%;
        border: 3px solid white;
    }
}

div#project-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
        text-decoration: none;
        color: inherit;
    }
    
    p {
        font-family: Comfortaa;
    }
    
    span {
        font-weight: bold;
        font-family: Capriola;
    }
    
    
    img {
        width: 100%;
    }
}

img.arrow {
    height: 144px;
    width: 144px;

    &:first-child {
        margin-top: 5vw;
    }

    &:last-child {
        margin-bottom: 5vw;
    }
}

div.panel {
    background: rgba(0,0,0,0.8);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 5vw;
    padding: 10px;
    width: 90%;
}

div.panel:not(#panel1) {
    // display: none;
}

div#panel1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 20vh;
    text-align: center; 

    animation-name: toCenter;
    animation-duration: 2s
}



#panel1 {
    color: white;

    h1, h2, h3 {
        margin: 0;
        padding-bottom: 1em;
    }
    
    h1 {
        font-family: Capriola;
        text-shadow: 2px 2px blue;
    }

    h2 {
        font-family: Comfortaa;
    }

    h3 {
        font-family: Megrim;
        font-weight: bold
    }
}


// Current panel should glow

// TODO: Animations
// to top, to center, to bottom
// Use JS to assign class and then let CSS handle transforms

// @keyframes toCenter {
//     from { 
//         position: absolute;
//         top:0;
//         left: 50%;
//     }

//     to {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
// }



// Media Queries
@media screen and (min-width: 850px) {
    div#project-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.panel {
        width: 30%;
        margin: 15px 1.5%;
    }
}
